/* Main Globals for Home page */
:root {
    --main-color-blue: rgb(134, 225, 238);
    --main-color-red: rgb(243, 124, 124);
    --main-color-offwhite: rgb(233, 233, 233);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: serif;
}

html {
    background-color: var(--main-color-offwhite);
    font-size: 100%;
}

body {
    min-height: 100%;
    display: table;
    width: 100%;
}

h1 {
    font-size: 2rem;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    margin-top: 40px
}

/* Establish content area height for footer position */
.content {
    display: table-row;
    height: 100%;
    padding: 50px;
}

/* Top heading and navigation bar */
.heading, .nav {
    display: flex;
    justify-content:space-between;
    padding: 0 0 0 10px;
    background-color: var(--main-color-red);
}

.nav li {
    padding: 20px 20px;
}

.nav a {
    padding: 20px 20px;
    font-size: 1.1rem;
    border-left: 2px solid var(--main-color-offwhite);
}

/* Search Box */
.search {
    margin: 10px auto;
    padding: 10px;
    width: 30%;
    height: 50px;
}

.search__fields {
    padding: 0 20px;
    font-size: 1.2rem;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--main-color-offwhite);
}

.search__input {
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 5px;
}

/* Populated Cat cards on main page */
.deck__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.deck__title {
    font-size: 2rem;
    text-align: center;
    border-bottom: 2px solid black;
    width: 200px;
    margin: 0 auto 20px auto;
}

/* Individual cat cards */
.card {
    width: 300px;
    height: 300px;
    margin: 1%;
}

.card__inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card--hover:hover .card__inner {
    transform: rotateY(180deg);
}

.card__front,
.card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.card__front {
    background-color: var(--main-color-red);
}

.card__back {
    background-color: var(--main-color-red);
    transform: rotateY(180deg);
}

.card__front__img {
    width: 230px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 1%;
}

.card__front__title {
    margin: 0 auto;
    padding: 0;
    font-size: 1.5rem;
}

.card__back__title {
    text-align: left;
    font-size: 1.2rem;
    font-style: bold;
}

.card__back dl {
    padding-top: 4%;
    text-align: left;
}

.card__back dt {
    font-style: italic;
}

.card__back dd {
    padding-bottom: 2%;
    text-align: center;
}